.hero__main {
  height: 100vh;
  background: var(--blue);
  background: #fff;
  background-image: url("../../assets/abstract-white-background-with-smooth-lines_476363-5468.avif");
  background-size: cover;
}

.hero__main h5 {
  font-size: 1.2rem;
}

.hero__main img {
  width: 30vw;
  border: 1.3rem solid #ccc;
  border-radius: 2rem;
}

.hero__toptitle {
  margin-bottom: 2rem;
}

.hero__bottomtitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.btn {
  width: 300px;
}
.btn-secondary {
}

@media screen and (min-width: 1280px) {
  .hero__main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero__text {
    padding-top: 1rem;
  }

  .hero__img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1279px) {
  .hero__text h2 {
    display: none;
  }
  .hero__main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
    background-image: url("../../assets/abstract-white-background-with-smooth-lines_476363-5468.avif");
    background-size: cover;
    padding: 1rem;
    background-image: none;
    margin-bottom: 4rem;
  }

  .hero__main .container {
    background-color: transparent !important;
  }

  .hero__main img {
    display: none;
  }

  .hero__text h2 {
    color: var(--blue);
  }
  .txt-optional {
    padding-top: 40px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .btn-secondary-hero {
    display: none;
  }
  .hero__main {
    width: 100vw;
    height: 100vh;
    margin-bottom: 4vh;
    margin-top: -30vh;
  }
}
