.contact-form__main {
  margin: 2rem;
}

.contact-form__main,
.contact-form__main .container {
}

.contact-form__main .row,
.contact-form__main .col {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media screen and (min-width: 1280px) {
  .contact-form__main,
  .contact-form__main .container {
  }

  .contact-form__main .row,
  .contact-form__main .col {
  }
}

@media screen and (max-width: 1400px) and (min-width: 1279px) {
  .contact-form__main,
  .contact-form__main .container {
    width: 42vw;
  }
}

@media screen and (max-width: 1279px) {
  .contact-form__main,
  .contact-form__main .container {
    _background-color: var(--blue) !important;
  }

  .contact-form__main .row,
  .contact-form__main .col {
    _background-color: var(--blue) !important;
  }
}
@media screen and (max-width: 1024px) {
  .btn-secondary-contact {
    position: relative;
    margin-left: -1vw;
    width: 100%;
  }
}
