.navbar__main {
  padding: 4px 16px;
}

.navbar__main img {
  width: 80px;
  height: 80px;
  box-shadow: none;
}

.btn-optional {
  display: none;
}

@media screen and (min-width: 1280px) {
  .btn-optional {
    display: block;
  }
  .navbar-toggler-icon {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .navbar__blog {
    display: none;
  }
  .navbar__products {
    display: none;
  }
}
