@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --white: #fff;
  --blue: #569fbe;
  --color: #333;
  --accent: #022f6a;
  --red: #e62828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #333;
}

.btn-secondary {
  background: var(--accent);
}

.container {
  max-width: 80vw !important;
}

img {
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px; */
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 0.5rem;
}

.icon {
  width: 36px;
  height: 36px;
  margin: 3px;
  box-shadow: none;
  border: 1px solid var(--blue);
  border-radius: 50%;
}

.text-secondary {
  color: var(--accent) !important;
}

.text-red {
  color: var(--red) !important;
}

.textarea {
  height: 15vh;
  width: 30vw;
  padding-top: 3px !important;
}

@media screen and (max-width: 768px) {
  .textarea {
    height: 15vh;
    width: 70vw;
    padding-top: 3px !important;
  }
}
